<link rel="stylesheet" href="/css/user_admin.css">
<div class="container">
  <h4 class="fw-bold">จัดการผู้ดูแล</h4>
  <div class="wrapper-content-page">
    <% if(entries.length ==0) { %>
    <div class="empty-table">
      <div class="empty-icon-table text-darkgray">
        <i class="fa-solid fa-circle-exclamation"></i>
      </div>
      <p class="fw-bold text-secondary">ไม่มีข้อมูล</p>
    </div>
    <% } else { %>
    <div class="entries-d">
      <span class="entries-text">แสดง</span>
      <span class="entries-count">
        <%= entries.length  %>
      </span>
      <span>
        รายการ
      </span>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="align-middle">
            <th style="width:5% ;">รายการ</th>
            <th style="width:10% ;">รูปภาพ</th>
            <th style="width:10% ;">ผู้ใช้งาน</th>
            <th style="width:10% ;">รหัสผ่าน</th>
            <th style="width:20% ;">ชื่อ</th>
            <th style="width:15% ;">นามสกุล</th>
            <th style="width:10% ;">การเข้าถึง</th>
            <th style="width:5% ;">แก้ไข</th>
            <th style="width:5% ;">ลบ</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0;i<entries.length;i++){ %>
          <tr class="align-middle">
            <td><%= i+1 %></td>
            <td>
              <img src="/src/profile/<%= entries[i].profile %>" class="table-profile">
            </td>
            <td><%= entries[i].username %></td>
            <td><%= entries[i].password %></td>
            <td><%= entries[i].fname %></td>
            <td><%= entries[i].lname %></td>
            <td><%= entries[i].private_level_display %></td>
            <td>
              <button class="fw-bold ac-btn text-darkgray bg-none border-radius-7 edit-admin" data-id="<%= entries[i].admin_id  %>">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </td>
            <td>
              <button class="fw-bold ac-btn text-darkgray bg-none border-radius-7 delete-admin" data-id="<%= entries[i].admin_id  %>" data-profile="<%= entries[i].profile  %>">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
          <%  } %>
        </tbody>
      </table>
    </div>
    <% } %>
  </div>

</div>

<script>
  $('.edit-admin').click(function() {
    window.location.assign(`/admin?p=admin-edit&id=${$(this).attr('data-id')}`)
  })
  $('.delete-admin').click(function() {
    confirm('ลบผู้ดูแล', 'คุณต้องการลบผู้ใช้นี้ใช่ หรือไม่ ?')
      .then((result) => {
        if (result.isConfirmed) {
          axios.post('/api/delete-admin', {
            'admin_id': $(this).attr('data-id'),
            'profile': $(this).attr('data-profile')
          }).then((res) => {
            const result = res.data.result
            if (result) {
              querySuccess('ลบเรียบร้อย', 1000)
            }
            if (!result) {
              queryFail('ลบผู้ดูแล', 'ลบไม่สำเร็จ โปรดลองอีกครั้ง', res.data.err)
            }
          }).catch((err) => {
            statusErr()
          })
        }
      })
  })
</script>